body {
	min-height: 100svh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 7% 1fr 5%;
}

.no-bullets {
	list-style: none;
}

a {
	color: green;
}

main {
	background-color: whitesmoke;
}

.hidden {
    display: none;
}

.rainbow {
    animation: colorShift 2.5s linear 0s infinite;
}

.no-underline {
    text-decoration: none;
}

@keyframes colorShift {
    0% {
        color: #66f
    }

    10% {
        color: #09f
    }

    50% {
        color: #0f0
    }

    75% {
        color: #f39
    }

    to {
        color: #66f
    }
}

.pie {
    width: 300px;
    background: blue;
    border-radius: 50%;
  }
  
  .pie circle {
    fill: none;
    stroke-width: 32;
}