a {
	color: green;
	text-decoration: none;
}

li {
	list-style: none;
}

.navbar>.container {
	justify-content: left;
}

.navbar a {
	display: inline-block;
	text-align: center;
}

.navbar img {
	width: 40px;
	margin-right: 10px;
}

.navbar {
	justify-content: center;
	align-items: center;
}

.navbar span {
	align-self: center;
}